<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BluetoothCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logconsole" xsi:type="Console"
              layout="${longdate}|${level:uppercase=true}|${message}${onexception:${newline}${exception:format=tostring}}"/>
      <target name="logfile" xsi:type="File"
              layout="${longdate} [${level:uppercase=true}][${callsite}]${message} ${onexception:${newline}${exception:format=tostring}}"
              fileName="${basedir}/logs/${processname}.log" keepFileOpen="true" maxArchiveFiles="10" archiveAboveSize="104857600" archiveNumbering="Rolling" encoding="utf-8"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="logconsole"/>
      <logger name="*" minlevel="Info" writeTo="logfile"/>
    </rules>
  </nlog>
  <applicationSettings>
        <BluetoothCopy.Properties.Settings>
              <setting name="Mode" serializeAs="String">
                    <value>Client</value>
              </setting>
              <setting name="ArchiveDirectoryPath" serializeAs="String">
                    <value>.\archive</value>
              </setting>
              <setting name="SendDirectoryPath" serializeAs="String">
                    <value>.\send</value>
              </setting>
              <setting name="ReceiveDirectoryPath" serializeAs="String">
                    <value>.\recv</value>
              </setting>
        </BluetoothCopy.Properties.Settings>
    </applicationSettings>
</configuration>
